biblioteca.dtd

<?xml version="1.0" encoding="utf-8"?> 

<!ELEMENT ficha (libro*)>
<!ELEMENT libro (autor,titulo,subtitulo,edicion,editorial,anioEdicion,pag,serie,localizacion)>
<!ELEMENT autor (nombre+,apellido+)>

<!ELEMENT nombre (#PCDATA)>
<!ELEMENT apellido (#PCDATA)>
<!ELEMENT titulo (#PCDATA)>
<!ELEMENT subtitulo (#PCDATA)>
<!ELEMENT edicion (#PCDATA)>
